body{
  margin:0;
  background-color: RGBA(20,90,20,0.4);
}

nav{
  background-color: RGBA(20,255,20,0.4);
  display: flex;
  justify-content: center;
}

h1{
  margin-top: 5vh;
  text-align: center;
}

h2{
  text-align: center;
}

form{
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
      background-color: rgba(150,150,150,0.6);
      height: 30vh;
      border-radius: 10px;
      padding: 5%;
      padding-top: 0;
}

.innerNav{
  display: flex;
  justify-content: space-between;
  width:50%;
}

.navHeader{
  text-decoration: none;
  font-size: 2vw;
}

.navHeader:hover{
  background-color: RGBA(20,255,20,1)
}

.outercontainer{
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
}


.popup{
  height: 2em;
  position: absolute;
  top: 29vh;
  background-color: rgba(48, 163, 42, 0.4);
  padding: 0 8px;
  font-size: 1.5em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  visibility: hidden;
  opacity: 100;
  transition: opacity ease-in 0.5s;
}

.invalidpopup{
  background-color: rgba(163, 45, 45, 0.4);

}

.showpopup{
  visibility:visible;
  opacity: 0;
}

.popup p{
  margin: 0;
}

.confirmCreate{
  left: 13vw;
}

.confirmDelete{
  left: 46.5vw;
}

.confirmUpdate{
  left: 79.5vw;
}
